body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.posts {
    display: flex;
    flex-wrap: wrap; /* Kartların sarmalanmasını sağlar */
    gap: 20px; /* Kartlar arası boşluk */
    justify-content: center; /* Merkeze hizalama */
    padding: 20px;
}
h2,h3,h4, .alttext{
    text-align:center;
}


.post-card {
    flex: 1 1 calc(33.333% - 20px); /* 3 sütun düzeni */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    min-width: 250px; /* Minimum genişlik */
    max-width: 400px; /* Maksimum genişlik */
    box-sizing: border-box;
}


@media (max-width: 1024px) {
    .post-card {
        flex: 1 1 calc(50% - 20px); /* 2 sütun düzeni */
    }
}

@media (max-width: 768px) {
    .post-card {
        flex: 1 1 100%; /* Tek sütun düzeni */
    }
}
.post-card h3 {
    margin-top: 0;
}

.post-card a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.post-card a:hover {
    text-decoration: underline;
}

.post-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.images img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
